@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
* {
 
  font-family: Georgia, serif;
  color: #333;
  align-items: center;
  margin: 0px;
  box-sizing: border-box;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .words {
    font-size: 25px;
  }
  .question-main{
    background-size:100% 100%;  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .words {
    font-size: 25px;
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .words {
    font-size: 18px;
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .words {
    font-size: 20px;
  }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .words {
    font-size: 25px;
  }
 } 

.voteform {
  margin-left: 100;
}

.body {
  height: 100%;
  align-items: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(92, 50, 121);
  border-radius: 4px;
  box-sizing: border-box;
}

.show-grid [class^=col-] {
  background-color: #eee;
  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid #ddd;
  border: 1px solid rgba(255, 255, 255, 1.0);
}

.Button {
  
  background-color:White; /* Fallback color */
  /* Black w/opacity/see-through */
  color:Black ;
  padding: 20px 20px;
 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
  position: absolute;
  bottom:0;
  font-weight: bold;
  right:0;
}

.forms {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 70px;
  width: 90%;
  font-size: 17px;
  align-items: center;
  margin-left: 10px;
  
}

.question-main {
  position: absolute;
  z-index: -1;  
  margin-top: 3%;
  filter: blur(16px);
}

.loading-banner {
  width: 100%;
  height: 200px;
  transform: translate(0%, 120%);
  background-color: rgba(207, 111, 0, 0.5);
  color: rgb(255, 255, 255);
}

.icons h4{
  color: #707070;
}

.icons img {
  margin: 15px;
}

.icons:hover{
  box-shadow: 1px 2px 2px 1px gray;
}

nav{
  background-color: #1C437A;
}

.nav-logo{
  color: white;
  margin-left: 7%;
}

.nav-logo:hover{
  color: white;
}

.nav-links-right {
  color: white;
  margin-left: 35px;
}

.nav-links-right:hover{
  color: #9DD49A;
}

.red-icon{
  margin: 5px 15px 4% 25%;
  width: 10%;
  height: 10%;
}

.blue-icon{
  margin: 5px 15px 4% 25%;
  width: 10%;
  height: 10%;
}

.green-icon{
  margin: 5px 15px 4% 25%;
  width: 10%;
  height: 10%;
}

.words{
  color: #707070;
}

.title{
  margin-left: 25%;
}

.banner{
  height:  auto;
  width: auto;
  margin-top: 2%;
}

.banner-container{
  position:relative;
}

.Link:hover{
    text-decoration: none !important;
}

.address-dropdown{
  margin: 10px;
}

.submit-button{
  background-color: #1C437A;
  color: white;
}

.submit-button:hover{
  color: rgb(206, 205, 205);
}
