@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* base styles */
* {
 
  font-family: Georgia, serif;
  color: #333;
  align-items: center;
  margin-left: 0px;
}

.voteform {

  margin-left: 100;
}
.body {
  height: 100%;
  align-items: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(92, 50, 121);
  border-radius: 4px;
  box-sizing: border-box;
  
}

.Button {
  
  background-color:White; /* Fallback color */
  /* Black w/opacity/see-through */
  color:Black ;
  padding: 20px 20px;
 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
  position: absolute;
  bottom:0;
  font-weight: bold;
  right:0;
}

.forms {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 70px;
  width: 90%;
  font-size: 17px;
  align-items: center;
  margin-left: 10px;
  
}
.question-main {
  background-color: antiquewhite;
	position: absolute;
	filter: blur(16px);
	overflow: visible;
  z-index: -1;  
}

.icons img {
    margin: 15px;
}

.icons:hover{
  box-shadow: 1px 2px 2px 1px gray;
}

.welcome{
  background-color: rgba(105, 86, 158, 0.5); 
  height: 200px;
  width: auto;
  padding: 1% 5% 5% 5%;
  margin: 1%;
}

nav{
  color: white;
  background-color: #1C437A;
}

.red-icon{
  margin: 5px 15px 4% 9%;
}
.blue-icon{
  margin: 5px 15px 4% 3%;
}
.green-icon{
  margin: 5px 15px 4% 15%;
}

.words{
  margin-bottom: 4%;
  font-size: 28px;
  color: #707070;
}

.title{
  margin-top: 7%;
  margin-left: 10%;
}

.banner{
  height:  45%;
  width: 45%;
  margin-right: 10%;
  margin-top: 4%;
}

.banner-container{
  position:relative;
}

.options{
    border: 1px solid #707070;
    height: 200px;
    width: 100px;
}

.options-left{
  margin-right: 40px;
}

.options-right{
  margin-left: 40px;
}